In [1]:
import numpy as np
import pandas as pd
import sklearn.preprocessing as preprocessing
import sklearn.model_selection as model_selection
import sklearn.metrics as metrics
import sklearn
import sklearn.cluster as cluster
from sklearn.datasets import make_blobs
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing, svm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_excel('dataset_complete_cluster.xlsx')

In [3]:
df

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,peakrpm,citympg,highwaympg,price,sales 2018,sales 2019,sales 2020,sales 2021,total sales,cluster
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,5000,21,27,13495.0,34300.0,18294.0,17200.0,18252.0,88046,No Segment
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,5000,21,27,16500.0,12043.0,9444.0,10282.0,10539.0,42308,No Segment
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,5000,19,26,16500.0,17075.0,10932.0,7436.0,6297.0,41740,Regular I
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,5500,24,30,13950.0,0.0,0.0,0.0,0.0,0,Regular II
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,5500,18,22,17450.0,0.0,0.0,0.0,0.0,0,Luxury
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,5400,23,28,16845.0,0.0,0.0,0.0,0.0,0,Regular II
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,5300,19,25,19045.0,0.0,0.0,0.0,0.0,0,Luxury
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,5500,18,23,21485.0,0.0,0.0,0.0,0.0,0,Luxury
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,4800,26,27,22470.0,0.0,0.0,0.0,0.0,0,Regular II
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,5400,19,25,22625.0,0.0,0.0,0.0,0.0,0,Luxury

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 58 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   CarName           205 non-null    object
 2   fueltype          205 non-null    object
 3   aspiration        205 non-null    object
 4   doornumber        205 non-null    object
 5   carbody           205 non-null    object
 6   drivewheel        205 non-null    object
 7   enginelocation    205 non-null    object
 8   wheelbase         205 non-null    float64
 9   carlength         205 non-null    float64
 10  carwidth          205 non-null    float64
 11  carheight         205 non-null    float64
 12  curbweight        205 non-null    int64
 13  enginetype        205 non-null    object
 14  cylindernumber    205 non-null    object
 15  enginesize        205 non-null    int64
 16  fuelsystem        205 non-null    object
 17  boreratio         205 non-null    float64
 18  stroke            205 non-null    float64
 19  compressionratio  205 non-null    float64
 20  horsepower        205 non-null    int64
 21  peakrpm           205 non-null    int64
 22  citympg           205 non-null    int64
 23  highwaympg        205 non-null    int64
 24  price             205 non-null    float64
 25  sales 2018        184 non-null    float64
 26  sales 2019        184 non-null    float64
 27  sales 2020        184 non-null    float64
 28  sales 2021        184 non-null    float64
 29  total sales       205 non-null    int64
 30  cluster           205 non-null    object
 31  fueltype0         205 non-null    float64
 32  fueltype1         205 non-null    float64
 33  aspiration0       205 non-null    float64
 34  aspiration1       205 non-null    float64
 35  carbody0          205 non-null    float64
 36  carbody1          205 non-null    float64
 37  carbody2          205 non-null    float64
 38  carbody3          205 non-null    float64
 39  carbody4          205 non-null    float64
 40  drivewheel0       205 non-null    float64
 41  drivewheel1       205 non-null    float64
 42  drivewheel2       205 non-null    float64
 43  enginetype0       205 non-null    float64
 44  enginetype1       205 non-null    float64
 45  enginetype2       205 non-null    float64
 46  enginetype3       205 non-null    float64
 47  enginetype4       205 non-null    float64
 48  enginetype5       205 non-null    float64
 49  enginetype6       205 non-null    float64
 50  fuelsystem0       205 non-null    float64
 51  fuelsystem1       205 non-null    float64
 52  fuelsystem2       205 non-null    float64
 53  fuelsystem3       205 non-null    float64
 54  fuelsystem4       205 non-null    float64
 55  fuelsystem5       205 non-null    float64
 56  fuelsystem6       205 non-null    float64
 57  fuelsystem7       205 non-null    float64
dtypes: float64(39), int64(8), object(11)
memory usage: 93.0+ KB

In [7]:
columns = [2, 3, 5, 6, 13, 16]
for i in columns:
    onehot_encoder = preprocessing.OneHotEncoder(sparse = False)
    li = onehot_encoder.fit_transform(df.iloc[:, i].values.reshape(205, 1))
    # print(li, len(li))
    for j in range(len(li[0])):
        df.at[:, df.columns[i] + str(j)] = li[:, j]
df

,car_ID,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginetype5,enginetype6,fuelsystem0,fuelsystem1,fuelsystem2,fuelsystem3,fuelsystem4,fuelsystem5,fuelsystem6,fuelsystem7
0,1,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,2,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,3,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,4,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,5,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,188.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
201,202,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
202,203,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,188.8,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
203,204,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
204,205,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [5]:
df.drop(['symboling'], axis = 1, inplace = True)

In [9]:
dict = {'two': 2, 'four': 4, 'three' : 3, 'six' : 6, 'eight' : 8, 'twelve' : 12, 'five' : 5}

In [10]:
for i in range(205):
    df.at[i, 'cylindernumber'] = dict[df.at[i, 'cylindernumber']]
    df.at[i, 'doornumber'] = dict[df.at[i, 'doornumber']]
df

,car_ID,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginetype5,enginetype6,fuelsystem0,fuelsystem1,fuelsystem2,fuelsystem3,fuelsystem4,fuelsystem5,fuelsystem6,fuelsystem7
0,1,alfa-romero giulia,gas,std,2,convertible,rwd,front,88.6,168.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,2,alfa-romero stelvio,gas,std,2,convertible,rwd,front,88.6,168.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,3,alfa-romero Quadrifoglio,gas,std,2,hatchback,rwd,front,94.5,171.2,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,4,audi 100 ls,gas,std,4,sedan,fwd,front,99.8,176.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,5,audi 100ls,gas,std,4,sedan,4wd,front,99.4,176.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,volvo 145e (sw),gas,std,4,sedan,rwd,front,109.1,188.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
201,202,volvo 144ea,gas,turbo,4,sedan,rwd,front,109.1,188.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
202,203,volvo 244dl,gas,std,4,sedan,rwd,front,109.1,188.8,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
203,204,volvo 246,diesel,turbo,4,sedan,rwd,front,109.1,188.8,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
204,205,volvo 264gl,gas,turbo,4,sedan,rwd,front,109.1,188.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [11]:
df.iloc[0, :]

car_ID                               1
CarName             alfa-romero giulia
fueltype                           gas
aspiration                         std
doornumber                           2
carbody                    convertible
drivewheel                         rwd
enginelocation                   front
wheelbase                         88.6
carlength                        168.8
carwidth                          64.1
carheight                         48.8
curbweight                        2548
enginetype                        dohc
cylindernumber                       4
enginesize                         130
fuelsystem                        mpfi
boreratio                         3.47
stroke                            2.68
compressionratio                   9.0
horsepower                         111
peakrpm                           5000
citympg                             21
highwaympg                          27
price                          13495.0
sales 2018                     34300.0
sales 2019                     18294.0
sales 2020                     17200.0
sales 2021                     18252.0
total sales                      88046
cluster                     No Segment
fueltype0                          0.0
fueltype1                          1.0
aspiration0                        1.0
aspiration1                        0.0
carbody0                           1.0
carbody1                           0.0
carbody2                           0.0
carbody3                           0.0
carbody4                           0.0
drivewheel0                        0.0
drivewheel1                        0.0
drivewheel2                        1.0
enginetype0                        1.0
enginetype1                        0.0
enginetype2                        0.0
enginetype3                        0.0
enginetype4                        0.0
enginetype5                        0.0
enginetype6                        0.0
fuelsystem0                        0.0
fuelsystem1                        0.0
fuelsystem2                        0.0
fuelsystem3                        0.0
fuelsystem4                        0.0
fuelsystem5                        1.0
fuelsystem6                        0.0
fuelsystem7                        0.0
Name: 0, dtype: object

In [12]:
df.drop(['CarName', 'fueltype', 'aspiration', 'carbody', 'drivewheel', 'enginelocation', 'enginetype', 'fuelsystem', 'wheelbase', 'carlength', 'carwidth', 'carheight', 'boreratio', 'stroke', 'compressionratio', 'sales 2018', 'sales 2019', 'sales 2020', 'sales 2021'], axis = 1, inplace = True)
df.columns

Index(['car_ID', 'doornumber', 'curbweight', 'cylindernumber', 'enginesize',
       'horsepower', 'peakrpm', 'citympg', 'highwaympg', 'price',
       'total sales', 'cluster', 'fueltype0', 'fueltype1', 'aspiration0',
       'aspiration1', 'carbody0', 'carbody1', 'carbody2', 'carbody3',
       'carbody4', 'drivewheel0', 'drivewheel1', 'drivewheel2', 'enginetype0',
       'enginetype1', 'enginetype2', 'enginetype3', 'enginetype4',
       'enginetype5', 'enginetype6', 'fuelsystem0', 'fuelsystem1',
       'fuelsystem2', 'fuelsystem3', 'fuelsystem4', 'fuelsystem5',
       'fuelsystem6', 'fuelsystem7'],
      dtype='object')

In [43]:
X = df.iloc[:, [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36]].to_numpy()
Y = df.iloc[:, -1].to_numpy()

In [20]:
X[0]

array([2, 2548, 4, 130, 111, 5000, 21, 27, 13495.0, 0.0, 1.0, 1.0, 0.0,
       1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0], dtype=object)

In [18]:
df.drop('cluster', axis = 1, inplace = True)

In [52]:
X_train, X_test,Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

In [22]:
regr = LinearRegression()

In [53]:
regr.fit(X_train, Y_train)

LinearRegression()

In [40]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [44]:
Y=Y.reshape((205,1))

In [49]:
type(X)

numpy.matrix

In [55]:
regr.coef_

array([[ 1.10918389e-15,  2.01318461e-17,  3.04160817e-14,
        -1.88283590e-15,  6.42141459e-16, -2.95097979e-17,
         4.28612585e-16, -1.54896259e-15,  1.20727477e-18,
        -3.33333333e-01,  3.33333333e-01, -9.70702859e-14,
        -9.68063685e-14, -3.46550290e-13, -3.46127081e-13,
        -3.44777692e-13, -3.47820159e-13, -3.47067664e-13,
         1.84730602e-13,  1.85085450e-13,  1.85626166e-13,
         5.37960207e-14, -2.22044605e-16,  5.40988663e-14,
         5.33587632e-14,  5.43539228e-14,  5.35593572e-14,
         5.28792242e-14, -1.00000000e+00, -1.00000000e+00,
        -1.00000000e+00, -3.33333333e-01, -1.00000000e+00,
        -1.00000000e+00, -1.00000000e+00]])

In [56]:
df.to_excel('dataset_complete_cluster_scaled.xlsx')

In [57]:
regr.predictions = regr.predict(X_test)
regr.predictions

array([[ 7.54951657e-15],
       [ 3.97459843e-14],
       [-1.33226763e-15],
       [-8.21565038e-15],
       [-3.33066907e-15],
       [-3.07531778e-14],
       [-1.28785871e-14],
       [ 2.38697950e-14],
       [ 2.88657986e-15],
       [-1.37667655e-14],
       [ 2.81996648e-14],
       [ 5.21804822e-14],
       [ 9.99200722e-15],
       [-1.99840144e-14],
       [-4.10782519e-15],
       [-3.35287353e-14],
       [-3.55271368e-14],
       [ 1.50990331e-14],
       [-2.73114864e-14],
       [ 1.15463195e-14],
       [ 1.02140518e-14],
       [ 2.04281037e-14],
       [-3.70814490e-14],
       [-2.83106871e-14],
       [ 2.17603713e-14],
       [ 4.66293670e-15],
       [ 5.32907052e-15],
       [ 2.66453526e-14],
       [ 1.47659662e-14],
       [-1.25455202e-14],
       [-1.46549439e-14],
       [-1.11022302e-15],
       [-2.46469511e-14],
       [ 3.10862447e-15],
       [-7.66053887e-15],
       [-5.99520433e-15],
       [-5.77315973e-15],
       [ 4.04121181e-14],
       [-6.43929354e-15],
       [-7.41628980e-14],
       [-6.99440506e-15]])

In [92]:

for i in range(1):
    sum = 0
    for j in range(205):
        sum += Y.item(j, i)
    # means.append(sum/205)
    mean = sum/205
    sum = 0
    for j in range(205):
        sum += (Y.item(j, i) - mean)*(Y.item(j, i) - mean)
    sum/=205
    sum=sqrt(sum)
    
mean, sum

(0.004878048780487805, 0.06967247247358879)

In [71]:
from math import sqrt

In [74]:
X.shape

(205, 35)

In [69]:
X.item(0, 1)

2548

In [89]:
dt = pd.DataFrame(regr.coef_)

In [91]:
dt.to_excel('coefficients.xlsx')

In [90]:
dt

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,1.109184e-15,2.013185e-17,3.041608e-14,-1.882836e-15,6.421415e-16,-2.950980e-17,4.286126e-16,-1.548963e-15,1.207275e-18,-0.333333,...,5.435392e-14,5.355936e-14,5.287922e-14,-1.0,-1.0,-1.0,-0.333333,-1.0,-1.0,-1.0