In [64]:
import numpy as np
import pandas as pd
import sklearn.preprocessing as preprocessing
import sklearn.model_selection as model_selection
import sklearn.metrics as metrics
import sklearn
import sklearn.cluster as cluster
from sklearn.datasets import make_blobs
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing, svm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [115]:
df = pd.read_excel('dataset_complete_cluster.xlsx')
df

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,peakrpm,citympg,highwaympg,price,sales 2018,sales 2019,sales 2020,sales 2021,total sales,cluster
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,5000,21,27,13495.0,34300.0,18294.0,17200.0,18252.0,88046,No Segment
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,5000,21,27,16500.0,12043.0,9444.0,10282.0,10539.0,42308,No Segment
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,5000,19,26,16500.0,17075.0,10932.0,7436.0,6297.0,41740,Regular I
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,5500,24,30,13950.0,0.0,0.0,0.0,0.0,0,Regular II
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,5500,18,22,17450.0,0.0,0.0,0.0,0.0,0,Luxury
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,5400,23,28,16845.0,0.0,0.0,0.0,0.0,0,Regular II
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,5300,19,25,19045.0,0.0,0.0,0.0,0.0,0,Luxury
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,5500,18,23,21485.0,0.0,0.0,0.0,0.0,0,Luxury
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,4800,26,27,22470.0,0.0,0.0,0.0,0.0,0,Regular II
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,5400,19,25,22625.0,0.0,0.0,0.0,0.0,0,Luxury

In [116]:
df.drop('symboling', axis = 1, inplace = True)
df

,car_ID,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,peakrpm,citympg,highwaympg,price,sales 2018,sales 2019,sales 2020,sales 2021,total sales,cluster
0,1,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,5000,21,27,13495.0,34300.0,18294.0,17200.0,18252.0,88046,No Segment
1,2,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,5000,21,27,16500.0,12043.0,9444.0,10282.0,10539.0,42308,No Segment
2,3,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,5000,19,26,16500.0,17075.0,10932.0,7436.0,6297.0,41740,Regular I
3,4,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,5500,24,30,13950.0,0.0,0.0,0.0,0.0,0,Regular II
4,5,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,...,5500,18,22,17450.0,0.0,0.0,0.0,0.0,0,Luxury
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,188.8,...,5400,23,28,16845.0,0.0,0.0,0.0,0.0,0,Regular II
201,202,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,5300,19,25,19045.0,0.0,0.0,0.0,0.0,0,Luxury
202,203,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,188.8,...,5500,18,23,21485.0,0.0,0.0,0.0,0.0,0,Luxury
203,204,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,4800,26,27,22470.0,0.0,0.0,0.0,0.0,0,Regular II
204,205,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,5400,19,25,22625.0,0.0,0.0,0.0,0.0,0,Luxury

In [17]:
onehot_encoder = preprocessing.OneHotEncoder(sparse = False)
li = onehot_encoder.fit_transform(df.iloc[:, 5].values.reshape(205, 1))
li
for i in range(5):
    df.at[:, 'body_encode_' + str(i)] = li[:, i]

array([[1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       ...,
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0.]])

In [7]:
df.iloc[:, 2].values

array(['gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas',
       'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas',
       'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas',
       'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas',
       'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas',
       'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas',
       'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas',
       'diesel', 'gas', 'gas', 'diesel', 'diesel', 'diesel', 'diesel',
       'diesel', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas',
       'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas',
       'gas', 'gas', 'diesel', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas',
       'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas',
       'gas', 'gas', 'diesel', 'gas', 'diesel', 'gas', 'diesel', 'gas',
       'diesel', 'gas', 'diesel', 'gas', 'gas', 'gas', 'gas', 'gas',
       'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas',
       'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas',
       'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas',
       'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas',
       'diesel', 'diesel', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas',
       'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'diesel',
       'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'diesel', 'gas',
       'diesel', 'gas', 'gas', 'diesel', 'gas', 'gas', 'gas', 'gas',
       'diesel', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas',
       'gas', 'gas', 'diesel', 'gas'], dtype=object)

In [18]:
for i in range(5):
    df.at[:, 'body_encode_' + str(i)] = li[:, i]

In [21]:
df.iloc[6:]

,car_ID,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,sales 2019,sales 2020,sales 2021,fuel_encoding_1,fuel_encoding_2,body_encode_0,body_encode_1,body_encode_2,body_encode_3,body_encode_4
6,7,audi 100ls,gas,std,four,sedan,fwd,front,105.8,192.7,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
7,8,audi 5000,gas,std,four,wagon,fwd,front,105.8,192.7,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
8,9,audi 4000,gas,turbo,four,sedan,fwd,front,105.8,192.7,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
9,10,audi 5000s (diesel),gas,turbo,two,hatchback,4wd,front,99.5,178.2,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
10,11,bmw 320i,gas,std,two,sedan,rwd,front,101.2,176.8,...,124537.0,118369.0,113209.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,188.8,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
201,202,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
202,203,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,188.8,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
203,204,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
204,205,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 31 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   CarName           205 non-null    object
 2   fueltype          205 non-null    object
 3   aspiration        205 non-null    object
 4   doornumber        205 non-null    object
 5   carbody           205 non-null    object
 6   drivewheel        205 non-null    object
 7   enginelocation    205 non-null    object
 8   wheelbase         205 non-null    float64
 9   carlength         205 non-null    float64
 10  carwidth          205 non-null    float64
 11  carheight         205 non-null    float64
 12  curbweight        205 non-null    int64
 13  enginetype        205 non-null    object
 14  cylindernumber    205 non-null    object
 15  enginesize        205 non-null    int64
 16  fuelsystem        205 non-null    object
 17  boreratio         205 non-null    float64
 18  stroke            205 non-null    float64
 19  compressionratio  205 non-null    float64
 20  horsepower        205 non-null    int64
 21  peakrpm           205 non-null    int64
 22  citympg           205 non-null    int64
 23  highwaympg        205 non-null    int64
 24  price             205 non-null    float64
 25  sales 2018        184 non-null    float64
 26  sales 2019        184 non-null    float64
 27  sales 2020        184 non-null    float64
 28  sales 2021        184 non-null    float64
 29  fuel_encoding_1   205 non-null    float64
 30  fuel_encoding_2   205 non-null    float64
dtypes: float64(14), int64(7), object(10)
memory usage: 49.8+ KB

In [24]:
clusters = sklearn.cluster.KMeans(n_clusters=5, *, init='k-means++', n_init=10, max_iter=300, tol=0.0001, verbose=0, random_state=None, copy_x=True, algorithm='lloyd')

SyntaxError: invalid syntax (1669623586.py, line 1)

In [27]:
features, true_labels = make_blobs(
    n_samples=205,
    centers=5,
    cluster_std=2.75,
    random_state=42
)

In [28]:
features

array([[-1.51535971e+00,  1.32438867e+01],
       [ 3.97924115e+00,  1.06868580e+00],
       [-6.16170926e+00,  9.55565453e+00],
       [ 7.94355199e+00,  2.05124576e+00],
       [-5.46328021e+00, -5.46719823e+00],
       [-8.64637202e+00,  6.26391052e+00],
       [ 2.48593228e+00,  1.08750051e+00],
       [-8.17743982e+00, -3.88549545e+00],
       [-6.75430463e+00, -8.67201055e+00],
       [ 6.07521814e+00,  2.78987754e+00],
       [ 4.65786264e-02,  3.57447189e+00],
       [ 2.69595831e+00,  2.76735782e+00],
       [ 5.32873417e+00,  2.92590226e+00],
       [-6.60295693e+00,  9.05500223e+00],
       [-9.25573677e+00,  8.94139523e+00],
       [-1.15374765e+01,  8.59430747e+00],
       [ 4.63596579e+00,  2.57496650e+00],
       [-5.35432210e+00,  5.37743189e+00],
       [-5.89571195e+00, -5.33795215e+00],
       [-2.26981819e+00,  8.19201591e+00],
       [ 2.35311322e+00,  5.57615835e+00],
       [-6.57513310e+00,  7.03471456e+00],
       [-5.65352285e+00,  9.50059532e+00],
       [-5.30967829e+00, -3.75730408e+00],
       [ 1.36379422e+00,  3.77869211e+00],
       [ 3.75554401e-01,  2.16171786e+00],
       [ 1.91590394e+00,  4.15850928e-01],
       [ 5.26576057e+00,  2.87121851e+00],
       [-8.89580714e+00,  7.64617322e+00],
       [-6.96295709e+00,  6.47028933e+00],
       [-7.09165689e+00, -5.94194166e+00],
       [-3.77595424e+00,  1.19213723e+01],
       [-5.24826104e+00,  7.38128348e+00],
       [ 4.19634313e+00,  3.08430954e+00],
       [-2.36237583e+00,  2.51317024e+00],
       [-4.48340111e-01,  5.51422928e+00],
       [-6.70285714e+00, -9.84390773e+00],
       [ 4.54442147e+00, -1.24069492e+00],
       [-1.16048756e+01,  3.98450423e+00],
       [-7.49414985e+00, -4.91660823e+00],
       [-4.00625012e+00,  9.31932325e+00],
       [ 3.26051064e-01,  1.15753065e+01],
       [-1.51469855e+00,  7.24020680e+00],
       [-1.00484501e+01,  7.68305950e+00],
       [-4.16095402e+00,  8.21212832e+00],
       [ 2.90977628e+00,  1.88656646e+00],
       [-7.25272166e+00,  7.46799542e+00],
       [-9.83780946e-01, -5.13683228e+00],
       [ 8.04425830e+00,  1.93863127e+00],
       [ 8.49756319e+00, -1.88192074e+00],
       [-8.06560012e+00,  5.61109924e+00],
       [-8.52615506e+00,  9.14438227e+00],
       [-7.12199826e+00,  9.05147307e+00],
       [-2.60771923e+00,  1.33170562e+01],
       [-2.47817056e-01,  3.27764049e+00],
       [-1.10884346e+01,  1.30775879e+01],
       [-1.13873866e+01,  7.15982819e+00],
       [ 2.29090951e+00,  2.03567465e+00],
       [-2.97248598e+00,  1.95528147e+00],
       [-6.15674849e+00,  6.91911512e+00],
       [-9.05905922e+00, -7.19563481e+00],
       [ 1.97138911e+00,  3.36764030e+00],
       [-8.87200638e+00,  4.85607339e+00],
       [-3.11329531e+00,  9.99634570e+00],
       [-3.96603818e+00,  1.04257716e+01],
       [ 4.90684210e+00,  4.63694341e+00],
       [ 8.15820063e-03,  9.91835168e+00],
       [-4.99241167e+00, -1.13150782e+01],
       [-4.34919667e+00,  3.39063413e+00],
       [ 4.42118199e+00,  4.66564207e+00],
       [ 5.26539366e+00,  5.56781226e+00],
       [-5.67442996e+00,  1.00474557e+01],
       [ 2.19299941e-01,  2.48091279e+00],
       [ 1.95950424e+00,  4.13765234e+00],
       [-2.54631499e+00,  6.10558107e+00],
       [-9.00489653e+00, -7.53136076e+00],
       [-1.11180640e+01,  5.78302505e+00],
       [ 3.56158142e+00, -2.05149642e+00],
       [ 1.72320983e+00,  5.26615879e+00],
       [ 7.84620188e-01,  5.87428887e+00],
       [-4.73255503e+00,  7.63445426e+00],
       [-2.38805853e-01,  4.83159139e+00],
       [-8.69953997e+00, -4.53591792e+00],
       [ 2.11146219e+00,  6.23548930e+00],
       [-1.93482274e+00,  3.62519329e+00],
       [-2.86934831e-01,  2.51312178e+00],
       [-2.82723040e+00,  8.18625097e+00],
       [-4.37073312e+00,  1.06963959e+01],
       [-1.84380138e+00,  3.75276546e+00],
       [ 1.52133649e+00,  8.39340130e+00],
       [-6.53145844e-02,  4.57503447e+00],
       [ 6.25373584e+00,  7.99692265e+00],
       [-5.46324605e+00,  3.71490201e+00],
       [-1.01804423e+01, -7.79998799e+00],
       [-3.78359628e+00,  7.73352931e+00],
       [-9.82458156e+00, -5.55331045e+00],
       [-9.53289017e+00,  3.89211917e+00],
       [-5.15904198e+00, -9.23729287e+00],
       [-5.55161880e+00,  5.72471791e+00],
       [-1.77518129e+01,  4.50645690e+00],
       [-2.47199115e-01,  5.65696609e+00],
       [-8.18572680e+00, -8.67676498e+00],
       [-6.56843280e+00,  9.56067441e+00],
       [-1.04590808e+01,  9.65992868e+00],
       [ 3.45050315e+00,  8.37648357e+00],
       [ 2.63855456e+00,  4.19608066e+00],
       [-1.06682180e+01, -9.45912845e+00],
       [-7.94687029e+00,  6.96562952e+00],
       [-8.29091359e+00,  5.67292650e+00],
       [-2.25685549e+00,  3.54847161e+00],
       [-1.30165952e+01,  5.99187922e+00],
       [ 4.38086420e+00,  3.72162060e+00],
       [ 7.26944894e-01,  4.79958888e+00],
       [ 3.69741392e+00, -2.33092806e-01],
       [ 1.71854362e+00,  3.27554887e+00],
       [-5.14316133e-01, -1.20150889e+01],
       [-6.40337965e+00, -5.82048680e+00],
       [ 7.78264158e+00,  4.04098552e+00],
       [-8.57158885e+00,  8.96020474e+00],
       [-7.60743348e+00,  6.00355615e-01],
       [ 6.28796817e+00,  4.47955680e+00],
       [ 1.70731566e+00,  7.56544641e+00],
       [-2.02462803e+00, -5.76640989e+00],
       [-1.59822319e+00,  1.16970352e+01],
       [ 2.76981085e+00,  2.61186735e+00],
       [-3.82692678e+00,  8.50372394e+00],
       [ 5.45420960e+00,  2.69107168e+00],
       [-6.78327034e+00,  9.00204115e+00],
       [ 7.82601668e+00, -2.83706692e-01],
       [-8.62986522e+00,  5.46132821e+00],
       [ 4.65394084e+00,  1.32805507e+00],
       [-5.57822372e+00, -7.08038910e+00],
       [-2.19651373e+00,  7.67506282e+00],
       [ 2.87729604e+00,  8.21868115e+00],
       [-3.80025218e+00,  1.05063262e+01],
       [ 1.23826438e+00, -1.65808600e+00],
       [-1.61796671e+00,  7.95530986e+00],
       [-9.43695107e+00,  1.03451593e+01],
       [-8.10754331e+00, -4.52501291e+00],
       [-5.29448320e+00,  9.87846629e+00],
       [-1.56424733e+00,  4.16592570e+00],
       [ 1.97000566e+00,  1.40449580e+00],
       [-1.03470581e+01, -4.35598924e+00],
       [ 4.91392009e+00,  5.88611635e-01],
       [-6.29086939e+00, -1.03058912e+01],
       [-6.71955322e+00, -1.00232779e+01],
       [-4.81704581e+00,  8.16395209e+00],
       [-5.32474929e+00,  5.69670160e+00],
       [-7.74661761e+00, -4.79294424e+00],
       [-1.95993170e+00,  2.90926176e-01],
       [-2.32349506e+00,  5.09622862e+00],
       [-7.85653517e+00,  5.41802153e+00],
       [-5.49091217e+00, -4.49928281e+00],
       [-9.31023514e+00, -6.45736555e+00],
       [ 6.90054428e+00,  7.18935039e+00],
       [-2.68881972e+00,  7.88460058e+00],
       [-8.84671239e+00, -5.01121578e+00],
       [-1.24487693e+01, -6.36736023e+00],
       [ 2.70923283e+00,  1.07209878e+00],
       [-7.61782433e+00,  9.45376656e+00],
       [ 4.80551191e+00,  8.74708549e+00],
       [-5.00626383e+00,  5.13045095e+00],
       [-9.71349666e+00,  1.12745180e+01],
       [ 5.35455652e+00,  4.12318258e+00],
       [-6.11872749e+00, -4.60535566e+00],
       [-4.78414528e-01,  9.48554890e+00],
       [ 5.44582814e+00,  8.70328437e-03],
       [ 2.03672041e+00,  4.29064819e+00],
       [-4.47678151e+00,  3.91953029e+00],
       [-4.87482621e+00,  3.37490200e+00],
       [-2.74751611e-01,  1.27439462e+01],
       [-9.13655946e-01,  3.76990797e+00],
       [ 3.96506152e+00, -9.96047680e-02],
       [ 5.34814241e+00,  1.76844342e+00],
       [-8.21437695e+00, -6.65495571e+00],
       [ 6.01294516e+00,  6.79944633e+00],
       [ 2.08970321e+00,  5.53094686e+00],
       [-3.81841301e+00,  2.71562525e+00],
       [-6.36742006e-01,  1.90025653e+00],
       [ 2.96212917e+00,  9.32092136e+00],
       [-9.20830992e+00, -1.10459395e+01],
       [ 7.28916319e+00,  3.10831723e+00],
       [-2.70722546e+00,  1.17740016e+01],
       [ 2.19371415e+00, -2.70308600e-01],
       [-3.90123627e+00, -3.98215395e+00],
       [ 2.93616377e+00,  2.10311358e+00],
       [ 1.55501100e+00,  7.58904303e+00],
       [ 3.15786173e+00,  2.61120904e+00],
       [-4.25612234e+00, -5.08878365e+00],
       [ 3.92019621e+00,  3.05809526e+00],
       [ 9.77075874e+00,  3.27621022e+00],
       [ 6.87705118e+00, -1.41170719e+00],
       [-9.41066395e+00,  5.96777035e+00],
       [-6.84387199e+00, -2.88289088e+00],
       [-7.33380996e+00,  6.76749312e+00],
       [ 7.47609296e-01,  8.16395046e-01],
       [-8.88813543e+00, -6.28484847e+00],
       [-6.36442810e+00,  8.16859660e+00],
       [ 6.81521669e+00, -5.27645817e-01],
       [-5.63962744e+00,  7.35166383e+00],
       [ 4.11088618e+00,  2.80242488e+00],
       [-1.60834108e+00,  9.19796316e+00],
       [-4.16389081e+00,  1.41080511e+01],
       [ 9.82689006e+00,  2.45325867e+00],
       [-1.04369765e+00, -4.04083013e+00]])

In [29]:
kmeans = cluster.KMeans(
    init="random",
    n_clusters=5,
    n_init=10,
    max_iter=300,
    random_state=42
)

In [34]:
features = [[0, 0, 0, 0, 0, 0, 0, 0] for i in range(205)]
# print(len(features))
for i in range(205):
    features[i][0] = (df.iat[i, 22] + df.iat[i, 23]) / 2 # mileage
    features[i][1] = df.iat[i, 20] # horsepower
    features[i][2] = df.iat[i, 24] # price
    features[i][3] = df.iat[i, 31] # convertible
    features[i][4] = df.iat[i, 32] # hardtop
    features[i][5] = df.iat[i, 33] # hatchback
    features[i][6] = df.iat[i, 34] # sedan
    features[i][7] = df.iat[i, 35] # wagon
features

[[24.0, 111, 13495.0, 1.0, 0.0, 0.0, 0.0, 0.0],
 [24.0, 111, 16500.0, 1.0, 0.0, 0.0, 0.0, 0.0],
 [22.5, 154, 16500.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [27.0, 102, 13950.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [20.0, 115, 17450.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [22.0, 110, 15250.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [22.0, 110, 17710.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [22.0, 110, 18920.0, 0.0, 0.0, 0.0, 0.0, 1.0],
 [18.5, 140, 23875.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [19.0, 160, 17859.167, 0.0, 0.0, 1.0, 0.0, 0.0],
 [26.0, 101, 16430.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [26.0, 101, 16925.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [24.5, 121, 20970.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [24.5, 121, 21105.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [22.5, 121, 24565.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [19.0, 182, 30760.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [19.0, 182, 41315.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [17.5, 182, 36880.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [50.0, 48, 5151.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [40.5, 70, 6295.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [40.5, 70, 6575.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [39.0, 68, 5572.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [34.5, 68, 6377.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [27.0, 102, 7957.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [34.5, 68, 6229.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [34.5, 68, 6692.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [34.5, 68, 7609.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [27.0, 102, 8558.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [27.0, 88, 8921.0, 0.0, 0.0, 0.0, 0.0, 1.0],
 [21.5, 145, 12964.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [51.5, 58, 6479.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [34.5, 76, 6855.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [40.0, 60, 5399.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [32.0, 76, 6529.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [32.0, 76, 7129.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [32.0, 76, 7295.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [32.0, 76, 7295.0, 0.0, 0.0, 0.0, 0.0, 1.0],
 [30.0, 86, 7895.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [30.0, 86, 9095.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [30.0, 86, 8845.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [30.0, 86, 10295.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [26.0, 101, 12945.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [28.0, 100, 10345.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [26.5, 78, 6785.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [40.5, 70, 8916.5, 0.0, 0.0, 0.0, 1.0, 0.0],
 [40.5, 70, 8916.5, 0.0, 0.0, 0.0, 1.0, 0.0],
 [26.5, 90, 11048.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [17.0, 176, 32250.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [17.0, 176, 35550.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [15.0, 262, 36000.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [30.5, 68, 5195.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [34.5, 68, 6095.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [34.5, 68, 6795.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [34.5, 68, 6695.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [34.5, 68, 7395.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [20.0, 101, 10945.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [20.0, 101, 11845.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [20.0, 101, 13645.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [19.5, 135, 15645.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [29.0, 84, 8845.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [29.0, 84, 8495.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [29.0, 84, 10595.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [29.0, 84, 10245.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [39.0, 64, 10795.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [29.0, 84, 11245.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [23.0, 120, 18280.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [35.0, 72, 18344.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [23.5, 123, 25552.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [23.5, 123, 28248.0, 0.0, 0.0, 0.0, 0.0, 1.0],
 [23.5, 123, 28176.0, 0.0, 1.0, 0.0, 0.0, 0.0],
 [23.5, 123, 31600.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [17.0, 155, 34184.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [17.0, 155, 35056.0, 1.0, 0.0, 0.0, 0.0, 0.0],
 [15.0, 184, 40960.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [15.0, 184, 45400.0, 0.0, 1.0, 0.0, 0.0, 0.0],
 [21.5, 175, 16503.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [39.0, 68, 5389.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [34.5, 68, 6189.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [34.5, 68, 6669.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [27.0, 102, 7689.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [26.5, 116, 9959.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [28.5, 88, 8499.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [21.5, 145, 12629.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [21.5, 145, 14869.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [21.5, 145, 14489.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [28.5, 88, 6989.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [28.5, 88, 8189.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [26.5, 116, 9279.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [26.5, 116, 9279.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [34.0, 69, 5499.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [47.5, 55, 7099.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [34.0, 69, 6649.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [34.0, 69, 6849.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [34.0, 69, 7349.0, 0.0, 0.0, 0.0, 0.0, 1.0],
 [34.0, 69, 7299.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [34.0, 69, 7799.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [34.0, 69, 7499.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [34.0, 69, 7999.0, 0.0, 0.0, 0.0, 0.0, 1.0],
 [34.0, 69, 8249.0, 0.0, 1.0, 0.0, 0.0, 0.0],
 [30.5, 97, 8949.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [30.5, 97, 9549.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [19.5, 152, 13499.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [19.5, 152, 14399.0, 0.0, 0.0, 0.0, 0.0, 1.0],
 [22.0, 152, 13499.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [22.0, 160, 17199.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [20.0, 200, 19699.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [22.0, 160, 18399.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [21.5, 97, 11900.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [30.5, 95, 13200.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [21.5, 97, 12440.0, 0.0, 0.0, 0.0, 0.0, 1.0],
 [25.0, 95, 13860.0, 0.0, 0.0, 0.0, 0.0, 1.0],
 [21.5, 95, 15580.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [30.5, 95, 16900.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [21.5, 95, 16695.0, 0.0, 0.0, 0.0, 0.0, 1.0],
 [25.0, 95, 17075.0, 0.0, 0.0, 0.0, 0.0, 1.0],
 [21.5, 97, 16630.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [30.5, 95, 17950.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [21.0, 142, 18150.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [39.0, 68, 5572.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [27.0, 102, 7957.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [34.5, 68, 6229.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [34.5, 68, 6692.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [34.5, 68, 7609.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [27.0, 88, 8921.0, 0.0, 0.0, 0.0, 0.0, 1.0],
 [21.5, 145, 12764.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [23.0, 143, 22018.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [21.0, 207, 32528.0, 0.0, 1.0, 0.0, 0.0, 0.0],
 [21.0, 207, 34028.0, 0.0, 1.0, 0.0, 0.0, 0.0],
 [21.0, 207, 37028.0, 1.0, 0.0, 0.0, 0.0, 0.0],
 [22.5, 288, 31400.5, 0.0, 0.0, 1.0, 0.0, 0.0],
 [27.0, 90, 9295.0, 0.0, 0.0, 0.0, 0.0, 1.0],
 [27.0, 90, 9895.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [24.5, 110, 11850.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [24.5, 110, 12170.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [24.5, 110, 15040.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [24.5, 110, 15510.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [22.5, 160, 18150.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [22.5, 160, 18620.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [33.5, 69, 5118.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [28.5, 73, 7053.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [28.5, 73, 7603.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [34.5, 82, 7126.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [30.5, 82, 7775.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [29.0, 94, 9960.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [24.5, 82, 9233.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [26.5, 111, 11259.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [30.0, 82, 7463.0, 0.0, 0.0, 0.0, 0.0, 1.0],
 [28.0, 94, 10198.0, 0.0, 0.0, 0.0, 0.0, 1.0],
 [26.0, 82, 8013.0, 0.0, 0.0, 0.0, 0.0, 1.0],
 [23.0, 111, 11694.0, 0.0, 0.0, 0.0, 0.0, 1.0],
 [37.0, 62, 5348.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [34.5, 62, 6338.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [34.5, 62, 6488.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [34.0, 62, 6918.0, 0.0, 0.0, 0.0, 0.0, 1.0],
 [29.5, 62, 7898.0, 0.0, 0.0, 0.0, 0.0, 1.0],
 [29.5, 62, 8778.0, 0.0, 0.0, 0.0, 0.0, 1.0],
 [33.5, 70, 6938.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [33.5, 70, 7198.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [35.0, 56, 7898.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [42.5, 56, 7788.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [42.5, 70, 7738.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [31.0, 70, 8358.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [31.0, 70, 9258.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [31.5, 70, 8058.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [31.5, 70, 8238.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [27.5, 112, 9298.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [27.5, 112, 9538.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [27.0, 116, 8449.0, 0.0, 1.0, 0.0, 0.0, 0.0],
 [27.0, 116, 9639.0, 0.0, 1.0, 0.0, 0.0, 0.0],
 [27.0, 116, 9989.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [27.0, 116, 11199.0, 0.0, 1.0, 0.0, 0.0, 0.0],
 [27.0, 116, 11549.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [27.0, 116, 17669.0, 1.0, 0.0, 0.0, 0.0, 0.0],
 [31.5, 92, 8948.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [31.5, 73, 10698.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [29.5, 92, 9988.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [29.5, 92, 10898.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [29.5, 92, 11248.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [22.0, 161, 16558.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [21.5, 161, 15998.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [22.0, 156, 15690.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [21.5, 156, 15750.0, 0.0, 0.0, 0.0, 0.0, 1.0],
 [41.5, 52, 7775.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [30.5, 85, 7975.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [41.5, 52, 7995.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [30.5, 85, 8195.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [30.5, 85, 8495.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [39.5, 68, 9495.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [29.0, 100, 9995.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [26.5, 90, 11595.0, 1.0, 0.0, 0.0, 0.0, 0.0],
 [26.5, 90, 9980.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [21.5, 110, 13295.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [35.5, 68, 13845.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [28.0, 88, 12290.0, 0.0, 0.0, 0.0, 0.0, 1.0],
 [25.5, 114, 12940.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [25.5, 114, 13415.0, 0.0, 0.0, 0.0, 0.0, 1.0],
 [26.0, 114, 15985.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [26.0, 114, 16515.0, 0.0, 0.0, 0.0, 0.0, 1.0],
 [19.5, 162, 18420.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [19.5, 162, 18950.0, 0.0, 0.0, 0.0, 0.0, 1.0],
 [25.5, 114, 16845.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [22.0, 160, 19045.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [20.5, 134, 21485.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [26.5, 106, 22470.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [22.0, 114, 22625.0, 0.0, 0.0, 0.0, 1.0, 0.0]]

In [36]:
scaler = StandardScaler()
scaled_features = scaler.fit_transform(features)

In [38]:
scaled_features

array([[-0.59932483,  0.17448278,  0.02739114, ..., -0.7200823 ,
        -0.93847426, -0.372678  ],
       [-0.59932483,  0.17448278,  0.4044611 , ..., -0.7200823 ,
        -0.93847426, -0.372678  ],
       [-0.82489691,  1.26453643,  0.4044611 , ...,  1.38873015,
        -0.93847426, -0.372678  ],
       ...,
       [-1.12565968,  0.75753473,  1.02998314, ..., -0.7200823 ,
         1.06555932, -0.372678  ],
       [-0.22337137,  0.04773235,  1.15358178, ..., -0.7200823 ,
         1.06555932, -0.372678  ],
       [-0.9000876 ,  0.25053303,  1.17303131, ..., -0.7200823 ,
         1.06555932, -0.372678  ]])

In [39]:
kmeans.fit(scaled_features)

KMeans(init='random', n_clusters=5, random_state=42)

In [40]:
kmeans.cluster_centers_

array([[ 0.22445554, -0.181164  , -0.4198998 , -0.17363972, -0.20151709,
         1.38873015, -0.93847426, -0.372678  ],
       [ 0.42581024, -0.46748134, -0.34980076, -0.17363972, -0.20151709,
        -0.7200823 ,  1.06555932, -0.372678  ],
       [-0.19225798, -0.14545277, -0.1652436 , -0.17363972,  0.51074159,
        -0.7200823 , -0.93847426,  2.26176991],
       [-0.71211087,  0.69838453,  1.08086562,  5.75905085, -0.20151709,
        -0.7200823 , -0.93847426, -0.372678  ],
       [-1.14991474,  1.4689726 ,  1.66761003, -0.17363972,  0.46478941,
        -0.58402988,  0.67768185, -0.372678  ]])

In [42]:
kmeans.labels_

array([3, 3, 0, 1, 4, 1, 1, 2, 4, 0, 1, 1, 4, 4, 4, 4, 4, 4, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 1, 2, 0, 0, 0, 0, 0, 0, 1, 2, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 4, 4, 4, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 4,
       1, 4, 2, 4, 4, 4, 3, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 2, 1, 0, 1, 2, 2, 0, 1, 4, 2, 4, 0, 4, 0, 1, 1, 2,
       2, 1, 1, 2, 2, 1, 1, 4, 0, 0, 0, 1, 1, 2, 0, 0, 4, 4, 3, 4, 2, 0,
       0, 1, 0, 1, 0, 4, 0, 0, 0, 1, 1, 1, 1, 1, 2, 2, 2, 2, 0, 0, 0, 2,
       2, 2, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 2, 2, 0, 2, 0, 3, 1, 1, 0,
       1, 0, 0, 0, 4, 2, 1, 1, 1, 1, 1, 1, 1, 3, 0, 1, 1, 2, 1, 2, 1, 2,
       4, 2, 1, 4, 4, 1, 4], dtype=int32)

In [46]:
df.at[:, 'cluster'] = kmeans.labels_

In [47]:
df

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,horsepower,peakrpm,citympg,highwaympg,price,sales 2018,sales 2019,sales 2020,sales 2021,cluster
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,111,5000,21,27,13495.0,34300.0,18294.0,17200.0,18252.0,3
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,111,5000,21,27,16500.0,12043.0,9444.0,10282.0,10539.0,3
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,154,5000,19,26,16500.0,17075.0,10932.0,7436.0,6297.0,0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,102,5500,24,30,13950.0,0.0,0.0,0.0,0.0,1
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,115,5500,18,22,17450.0,0.0,0.0,0.0,0.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,114,5400,23,28,16845.0,0.0,0.0,0.0,0.0,1
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,160,5300,19,25,19045.0,0.0,0.0,0.0,0.0,4
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,134,5500,18,23,21485.0,0.0,0.0,0.0,0.0,4
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,106,4800,26,27,22470.0,0.0,0.0,0.0,0.0,1
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,114,5400,19,25,22625.0,0.0,0.0,0.0,0.0,4

In [48]:
df.to_excel('dataset_complete_cluster.xlsx')

In [119]:
# for i in range(205):
#     df.at[i, 'cylindernumber'] = dict[df.at[i, 'cylindernumber']]
# df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 31 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   CarName           205 non-null    object
 2   fueltype          205 non-null    object
 3   aspiration        205 non-null    object
 4   doornumber        205 non-null    object
 5   carbody           205 non-null    object
 6   drivewheel        205 non-null    object
 7   enginelocation    205 non-null    object
 8   wheelbase         205 non-null    float64
 9   carlength         205 non-null    float64
 10  carwidth          205 non-null    float64
 11  carheight         205 non-null    float64
 12  curbweight        205 non-null    int64
 13  enginetype        205 non-null    object
 14  cylindernumber    205 non-null    object
 15  enginesize        205 non-null    int64
 16  fuelsystem        205 non-null    object
 17  boreratio         205 non-null    float64
 18  stroke            205 non-null    float64
 19  compressionratio  205 non-null    float64
 20  horsepower        205 non-null    int64
 21  peakrpm           205 non-null    int64
 22  citympg           205 non-null    int64
 23  highwaympg        205 non-null    int64
 24  price             205 non-null    float64
 25  sales 2018        184 non-null    float64
 26  sales 2019        184 non-null    float64
 27  sales 2020        184 non-null    float64
 28  sales 2021        184 non-null    float64
 29  total sales       205 non-null    int64
 30  cluster           205 non-null    object
dtypes: float64(12), int64(8), object(11)
memory usage: 49.8+ KB

In [122]:
columns = [2, 3, 5, 6, 13, 16]
for i in columns:
    onehot_encoder = preprocessing.OneHotEncoder(sparse = False)
    li = onehot_encoder.fit_transform(df.iloc[:, i].values.reshape(205, 1))
    # print(li, len(li))
    for j in range(len(li[0])):
        df.at[:, df.columns[i] + str(j)] = li[:, j]
df

,car_ID,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,boreratio28,boreratio29,boreratio30,boreratio31,boreratio32,boreratio33,boreratio34,boreratio35,boreratio36,boreratio37
0,1,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
201,202,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
202,203,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
203,204,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
204,205,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [121]:
df.drop(['CarName'], axis = 1, inplace = True)
df

,car_ID,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,total sales,cluster
0,1,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,3.47,2.68,9.0,111,5000,21,27,13495.0,88046,No Segment
1,2,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,3.47,2.68,9.0,111,5000,21,27,16500.0,42308,No Segment
2,3,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,2.68,3.47,9.0,154,5000,19,26,16500.0,41740,Regular I
3,4,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,3.19,3.40,10.0,102,5500,24,30,13950.0,0,Regular II
4,5,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,3.19,3.40,8.0,115,5500,18,22,17450.0,0,Luxury
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,3.78,3.15,9.5,114,5400,23,28,16845.0,0,Regular II
201,202,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8,...,3.78,3.15,8.7,160,5300,19,25,19045.0,0,Luxury
202,203,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,3.58,2.87,8.8,134,5500,18,23,21485.0,0,Luxury
203,204,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,3.01,3.40,23.0,106,4800,26,27,22470.0,0,Regular II
204,205,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,3.78,3.15,9.5,114,5400,19,25,22625.0,0,Luxury

In [53]:
df.iloc[:, 2]

0         gas
1         gas
2         gas
3         gas
4         gas
        ...
200       gas
201       gas
202       gas
203    diesel
204       gas
Name: fueltype, Length: 205, dtype: object

In [113]:
df.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       ...
       'enginesize34', 'enginesize35', 'enginesize36', 'enginesize37',
       'enginesize38', 'enginesize39', 'enginesize40', 'enginesize41',
       'enginesize42', 'enginesize43'],
      dtype='object', length=403)

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Columns: 403 entries, car_ID to enginesize43
dtypes: float64(383), int64(9), object(11)
memory usage: 645.6+ KB

In [63]:
df.at[0, 'cylindernumber']

4

In [61]:
dict = {'two': 2, 'four': 4, 'three' : 3, 'six' : 6, 'eight' : 8, 'twelve' : 12, 'five' : 5}

In [66]:
X = df.iloc[:, 2:].values

SyntaxError: invalid syntax (2328321625.py, line 1)

In [77]:
db = pd.read_excel('dataset_complete_cluster.xlsx')
db

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,peakrpm,citympg,highwaympg,price,sales 2018,sales 2019,sales 2020,sales 2021,total sales,cluster
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,5000,21,27,13495.0,34300.0,18294.0,17200.0,18252.0,88046,No Segment
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,5000,21,27,16500.0,12043.0,9444.0,10282.0,10539.0,42308,No Segment
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,5000,19,26,16500.0,17075.0,10932.0,7436.0,6297.0,41740,Regular I
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,5500,24,30,13950.0,0.0,0.0,0.0,0.0,0,Regular II
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,5500,18,22,17450.0,0.0,0.0,0.0,0.0,0,Luxury
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,5400,23,28,16845.0,0.0,0.0,0.0,0.0,0,Regular II
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,5300,19,25,19045.0,0.0,0.0,0.0,0.0,0,Luxury
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,5500,18,23,21485.0,0.0,0.0,0.0,0.0,0,Luxury
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,4800,26,27,22470.0,0.0,0.0,0.0,0.0,0,Regular II
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,5400,19,25,22625.0,0.0,0.0,0.0,0.0,0,Luxury

In [80]:
df.at[:, 'sales'] = db.iloc[:, -2].values

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [88]:
for i in range(205):
    df.at[i, 'sales'] = (df.at[i, 'sales']) * 16
df

,car_ID,doornumber,curbweight,cylindernumber,enginesize,horsepower,peakrpm,citympg,highwaympg,price,...,enginetype6,fuelsystem0,fuelsystem1,fuelsystem2,fuelsystem3,fuelsystem4,fuelsystem5,fuelsystem6,fuelsystem7,sales
0,1,2,2548,4,130,111,5000,21,27,13495.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,22011.5
1,2,2,2548,4,130,111,5000,21,27,16500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,10577.0
2,3,2,2823,6,152,154,5000,19,26,16500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,10435.0
3,4,4,2337,4,109,102,5500,24,30,13950.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,5,4,2824,5,136,115,5500,18,22,17450.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,4,2952,4,141,114,5400,23,28,16845.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
201,202,4,3049,4,141,160,5300,19,25,19045.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
202,203,4,3012,6,173,134,5500,18,23,21485.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
203,204,4,3217,6,145,106,4800,26,27,22470.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
204,205,4,3062,4,141,114,5400,19,25,22625.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0

In [103]:
X = df.iloc[:, 1 : -1].values
Y = df.iloc[:, -1].values

In [90]:
X, Y

(array([[2, 2548, 4, ..., 1.0, 0.0, 0.0],
        [2, 2548, 4, ..., 1.0, 0.0, 0.0],
        [2, 2823, 6, ..., 1.0, 0.0, 0.0],
        ...,
        [4, 3012, 6, ..., 1.0, 0.0, 0.0],
        [4, 3217, 6, ..., 0.0, 0.0, 0.0],
        [4, 3062, 4, ..., 1.0, 0.0, 0.0]], dtype=object),
 array([22011.5, 10577.0, 10435.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        115776.5, 115776.5, 98809.5, 71970.5, 6422.75, 19127.25, 39854.75,
        71970.5, 28056.5, 0.0, 0.0, 0.0, 58755.5, 0.0, 0.0, 0.0, 0.0, 0.0,
        105.25, 0.0, 294108.0, '\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n',
        '\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n', 336,
        '\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n', 15382528,
        '\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n',
        '\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n',
        '\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n', 0,
        '\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n',
        '\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n', 1799056, 0, 0, 0, 0, 60592,
        83808, 0, 1882416, 0, 0, 2863584, 0, 0,
        '\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n', 0, 0, 0,
        '\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n',
        '\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n', 2863584, 0, 0,
        '\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n', 0, 0, 0, 0, 0,
        '\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n',
        '\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n', 0, 7271152, 0, 1490544, 52832,
        2131984, 1490544, 1490544, 1490544, 2131984, 1490544, 1490544, 0,
        81600, 2131984, 1490544, 4025456, 22400, 20417504,
        '\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n', 2173136, 814128, 3795664,
        '\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n', 2464,
        '\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n', 20417504, 179088,
        '\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n',
        '\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n', 0, 7918464, 3568944,
        '\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 1222576, 436720, 1097440, 33552, 1097440,
        '\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n', 0, 0, 0, 0, 0, 0, 0, 166560,
        262496, 128944, 163072, 172080, 0, 0, 0, 0, 0, 172080, 172080, 0,
        0, 6857072, 0, 14282736, 0, 0, 6857072, 0, 6857072, 0, 6857072, 0,
        6857072, 0, 0, 0, 0, 6857072, 0, 0, 6857072, 0, 6857072, 0, 0,
        6857072, 0, 6857072, 0, 0, 0, 0, 0, 0, 0, 0, 220608, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=object))

In [104]:
scaler = StandardScaler()
scaled_features = scaler.fit_transform(X)

In [105]:
X = scaled_features

In [106]:
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size = 0.2, random_state = 42)

In [107]:
regr = LinearRegression()

In [108]:
regr.fit(X_train, Y_train)

ValueError: could not convert string to float: ''

In [101]:
df.info

<bound method DataFrame.info of      car_ID doornumber  curbweight cylindernumber  enginesize  horsepower  \
0         1          2        2548              4         130         111
1         2          2        2548              4         130         111
2         3          2        2823              6         152         154
3         4          4        2337              4         109         102
4         5          4        2824              5         136         115
..      ...        ...         ...            ...         ...         ...
200     201          4        2952              4         141         114
201     202          4        3049              4         141         160
202     203          4        3012              6         173         134
203     204          4        3217              6         145         106
204     205          4        3062              4         141         114

     peakrpm  citympg  highwaympg    price  ...  enginetype6  fuelsystem0  \
0       5000       21          27  13495.0  ...          0.0          0.0
1       5000       21          27  16500.0  ...          0.0          0.0
2       5000       19          26  16500.0  ...          0.0          0.0
3       5500       24          30  13950.0  ...          0.0          0.0
4       5500       18          22  17450.0  ...          0.0          0.0
..       ...      ...         ...      ...  ...          ...          ...
200     5400       23          28  16845.0  ...          0.0          0.0
201     5300       19          25  19045.0  ...          0.0          0.0
202     5500       18          23  21485.0  ...          0.0          0.0
203     4800       26          27  22470.0  ...          0.0          0.0
204     5400       19          25  22625.0  ...          0.0          0.0

     fuelsystem1  fuelsystem2  fuelsystem3  fuelsystem4  fuelsystem5  \
0            0.0          0.0          0.0          0.0          1.0
1            0.0          0.0          0.0          0.0          1.0
2            0.0          0.0          0.0          0.0          1.0
3            0.0          0.0          0.0          0.0          1.0
4            0.0          0.0          0.0          0.0          1.0
..           ...          ...          ...          ...          ...
200          0.0          0.0          0.0          0.0          1.0
201          0.0          0.0          0.0          0.0          1.0
202          0.0          0.0          0.0          0.0          1.0
203          0.0          0.0          1.0          0.0          0.0
204          0.0          0.0          0.0          0.0          1.0

     fuelsystem6  fuelsystem7    sales
0            0.0          0.0  22011.5
1            0.0          0.0  10577.0
2            0.0          0.0  10435.0
3            0.0          0.0      0.0
4            0.0          0.0      0.0
..           ...          ...      ...
200          0.0          0.0        0
201          0.0          0.0        0
202          0.0          0.0        0
203          0.0          0.0        0
204          0.0          0.0        0

[205 rows x 38 columns]>

In [102]:
for i in range(205):
    if (df.iat[i, -1] == 'nan'):
        df.at[i, 'sales'] = 0
df

,car_ID,doornumber,curbweight,cylindernumber,enginesize,horsepower,peakrpm,citympg,highwaympg,price,...,enginetype6,fuelsystem0,fuelsystem1,fuelsystem2,fuelsystem3,fuelsystem4,fuelsystem5,fuelsystem6,fuelsystem7,sales
0,1,2,2548,4,130,111,5000,21,27,13495.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,22011.5
1,2,2,2548,4,130,111,5000,21,27,16500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,10577.0
2,3,2,2823,6,152,154,5000,19,26,16500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,10435.0
3,4,4,2337,4,109,102,5500,24,30,13950.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,5,4,2824,5,136,115,5500,18,22,17450.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,4,2952,4,141,114,5400,23,28,16845.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
201,202,4,3049,4,141,160,5300,19,25,19045.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
202,203,4,3012,6,173,134,5500,18,23,21485.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
203,204,4,3217,6,145,106,4800,26,27,22470.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
204,205,4,3062,4,141,114,5400,19,25,22625.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0

139 204 203 202 201 200 199 198 197 196 195 194 193 192 191 190 189 188 187 186 185 184 183 182 181 180 179 178 177 176 175 174 173 172 171 170 169 168 167 166 165 159 158 149 147 145 143 137 136 135 134 133 132 131 130 129 128 127 126 125 124 119 117 116 115 114 113 112 111 110 109 108 107 106 105 104 103 102 101 90 88 87 84 83 82 80 79 75 74 73 72 71 70 69 68 67 66 65 63 58 57 56 55 49 48 47 46 41 40 39 38 37 36 35 34 33 32 31 30 29 27 23 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0

,car_ID,doornumber,curbweight,cylindernumber,enginesize,horsepower,peakrpm,citympg,highwaympg,price,...,enginetype6,fuelsystem0,fuelsystem1,fuelsystem2,fuelsystem3,fuelsystem4,fuelsystem5,fuelsystem6,fuelsystem7,sales
18,19,2,1488,3,61,48,5100,47,53,5151.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,28056.5
19,20,2,1874,4,90,70,5400,38,43,6295.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,21,4,1909,4,90,70,5400,38,43,6575.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,22,2,1876,4,90,68,5500,37,41,5572.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,23,2,1876,4,90,68,5500,31,38,6377.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,58755.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,161,4,2094,4,98,70,4800,38,47,7738.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
161,162,4,2122,4,98,70,4800,28,34,8358.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,6857072
162,163,4,2140,4,98,70,4800,28,34,9258.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
163,164,2,2169,4,98,70,4800,29,34,8058.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,6857072
164,165,2,2204,4,98,70,4800,29,34,8238.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [110]:
df

,car_ID,doornumber,curbweight,cylindernumber,enginesize,horsepower,peakrpm,citympg,highwaympg,price,...,enginetype6,fuelsystem0,fuelsystem1,fuelsystem2,fuelsystem3,fuelsystem4,fuelsystem5,fuelsystem6,fuelsystem7,sales
18,19,2,1488,3,61,48,5100,47,53,5151.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,28056.5
19,20,2,1874,4,90,70,5400,38,43,6295.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,21,4,1909,4,90,70,5400,38,43,6575.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,22,2,1876,4,90,68,5500,37,41,5572.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,23,2,1876,4,90,68,5500,31,38,6377.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,58755.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,161,4,2094,4,98,70,4800,38,47,7738.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
161,162,4,2122,4,98,70,4800,28,34,8358.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,6857072
162,163,4,2140,4,98,70,4800,28,34,9258.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
163,164,2,2169,4,98,70,4800,29,34,8058.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,6857072
164,165,2,2204,4,98,70,4800,29,34,8238.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 31 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   CarName           205 non-null    object
 2   fueltype          205 non-null    object
 3   aspiration        205 non-null    object
 4   doornumber        205 non-null    object
 5   carbody           205 non-null    object
 6   drivewheel        205 non-null    object
 7   enginelocation    205 non-null    object
 8   wheelbase         205 non-null    float64
 9   carlength         205 non-null    float64
 10  carwidth          205 non-null    float64
 11  carheight         205 non-null    float64
 12  curbweight        205 non-null    int64
 13  enginetype        205 non-null    object
 14  cylindernumber    205 non-null    object
 15  enginesize        205 non-null    int64
 16  fuelsystem        205 non-null    object
 17  boreratio         205 non-null    float64
 18  stroke            205 non-null    float64
 19  compressionratio  205 non-null    float64
 20  horsepower        205 non-null    int64
 21  peakrpm           205 non-null    int64
 22  citympg           205 non-null    int64
 23  highwaympg        205 non-null    int64
 24  price             205 non-null    float64
 25  sales 2018        184 non-null    float64
 26  sales 2019        184 non-null    float64
 27  sales 2020        184 non-null    float64
 28  sales 2021        184 non-null    float64
 29  total sales       205 non-null    int64
 30  cluster           205 non-null    object
dtypes: float64(12), int64(8), object(11)
memory usage: 49.8+ KB